* Reset básico para remover margens e paddings padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais para o corpo do documento */
body {
    font-family: Arial, sans-serif;  
    line-height: 1.8;  
}

/* Cabeçalho */
header {
    background-color:#4CAF50;
    color: #fff;  
    padding: 10px 0;  
    text-align: center; 
}

.logo {
    font-size: 24px;  
    font-weight: bold;  
}

nav {
    margin-top: 10px;  
}

/* Menu principal */
.menu {
    list-style: none;  /* Remove os marcadores da lista */
    padding: 0;  /* Remove o padding padrão */
}

.menu li {
    display: inline-block;  /* Exibe os itens do menu na horizontal */
    position: relative;  /* Define o posicionamento relativo para itens com dropdown */
}

.menu a {
    display: block;  /* Exibe o link como um bloco */
    color: #fff;  /* Define a cor do texto do link */
    padding: 10px 20px;  /* Define o espaçamento interno do link */
    text-decoration: none;  /* Remove a sublinhado do link */
}

.menu a:hover {
    background-color:#4CAF50;  /* Muda a cor de fundo ao passar o mouse */
}

/* Dropdown */
.dropdown-content {
    display: none;  /* Esconde o conteúdo do dropdown */
    position: absolute;  /* Define o posicionamento absoluto */
    background-color:#4CAF50;  /* Define a cor de fundo do dropdown */
    min-width: 160px;  /* Define a largura mínima do dropdown */
    z-index: 1;  /* Garante que o dropdown fique acima de outros elementos */
}

.dropdown-content li {
    display: block;  /* Exibe os itens do dropdown como blocos */
}

.dropdown-content a {
    padding: 10px;  /* Define o espaçamento interno dos links do dropdown */
}

.dropdown-content a:hover {
    background-color: #4CAF50;  /* Muda a cor de fundo ao passar o mouse nos links do dropdown */
}

.dropdown:hover .dropdown-content {
    display: block;  /* Exibe o conteúdo do dropdown ao passar o mouse */
}

/* Conteúdo principal */
main {
    padding: 20px;  /* Define o espaçamento interno do conteúdo principal */
    text-align: center;  /* Centraliza o texto */
}

.content {
    max-width: 800px;  /* Define a largura máxima do conteúdo principal */
    margin: 0 auto;  /* Centraliza o conteúdo principal */
}

/* Rodapé */
footer {
    background-color:#4CAF50; /* Define a cor de fundo do rodapé */
    color: #fff;  /* Define a cor do texto no rodapé */
    text-align: center;  /* Centraliza o texto */
    padding: 10px 0;  /* Define o espaçamento interno do rodapé */
    position: absolute;  /* Posiciona o rodapé */
    width: 100%;  /* Define a largura do rodapé para 100% */
    bottom: 0;  /* Posiciona o rodapé na parte inferior da página */
}